body {
    background-color: aquamarine;
    font-family: sans-serif;
    width: 700px;
    float: left;
    margin-left: 20px;
    font-size: 24px;
}

h1 {
    text-align: center;
    font-size: 2.0em;
}

h3 {
    text-align: center;
}

.foolishmortal {
    background-color: deeppink;
    color: slateblue;
    padding: 5px;
}

.words {
    line-height: 33px;
}

#roboticornimg {
    width: 400px;
    margin-left: 25px;
    float: left;
    margin-right: 15px;
}

#robotdiv{
    margin: auto;
}

#doomicorn-button {
    background-color: tomato;
    height: 100px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    font-size: 20px;
}
